.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerRightSection {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navlinks {
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-blue);
    text-decoration: none;
}

.navlinks:hover {
    text-decoration: underline;
}

.iconWrapper {
    display: none;
}

.navlinksWrapper {
    display: flex;
    gap: 40px;
    align-items: center;
}

@media (max-width: 768px) {
    .headerWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .iconWrapper {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navlinksWrapper {
        display: none;
    }

    .companiesLogo {
        height: 28px;
        width: fit-content;
    }

    .headerRightSection {
        gap: 16px;
    }
}
