.footerOverallWrapper {
    padding: 100px 0px;
    width: 100%;
}

.footerWrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 36px;
}

.footerLeftSectionWrapper {
    display: flex;
    flex-direction: column;
}

.footerLeftSectionText {
    font-size: 16px;
    line-height: 28px;
    color: var(--primary-gray);
}

.footerLeftSectionMainText {
    padding: 40px 0px 64px;
    max-width: 300px;
}

.footerRightSectionWrapper {
    display: flex;
    align-items: flex-end;
    gap: 24px;
    justify-content: flex-end;
    width: 100%;
}

/* Footer Block */
.footerBlockWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    min-width: 150px;
}

.footerBlockHeading {
    color: var(--black);
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    margin: 0px;
    width: fit-content;
}

.footerBlockLinksWrapper {
    height: 100%;
    gap: 0px;
    display: flex;
    gap: 12px;
    width: fit-content;
}

.footerLinkText {
    color: var(--primary-gray);
    text-decoration: none;
    font-weight: 400;
}

.footerLinkText:hover {
    text-decoration: underline;
}

@media (max-width: 900px) {
    .footerOverallWrapper {
        padding: 0px 0px 50px;
    }

    .footerWrapper {
        flex-direction: column;
    }

    .footerRightSectionWrapper {
        display: grid;
        gap: 36px;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }

    .footerLeftSectionMainText {
        padding: 24px 0px 32px;
    }
}
