.serviceSectionOverallWrapper {
    background-color: var(--dark-blue);
    width: 100%;
    padding: 84px 0px 100px;
}

.serviceSectionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.serviceHeadingWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    text-align: center;
    max-width: 842px;
}

.servicetitleText {
    font-size: 20px;
    line-height: 32px;
    color: var(--light-gray);
}

.serviceSectionHeading {
    color: var(--white);
}

.serviceSectionCardsWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
}

/* Service Card */
.serviceCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.serviceCardImageWrapper {
    width: 100%;
    max-width: 300px;
    max-height: 354px;
    border-radius: 24px;
}

.serviceCardImage {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 24px;
}

.serviceCardText {
    font-size: 24px;
    line-height: 36px;
    color: var(--white);
}

.serviceCardBtnWrapper {
    display: flex;
    align-items: center;
}

.serviceCardBtnWrapperMobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--white);
    width: fit-content;
    cursor: pointer;
}

.serviceCardLink {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: var(--white);
    text-decoration: none;
    padding-bottom: 4px;
}

.serviceCardLink:focus,
.serviceCardLink:hover {
    color: var(--primary-gray);
}

@media (max-width: 900px) {
    .serviceSectionWrapper {
        gap: 32px;
    }

    .testimonialWrapper {
        gap: 48px;
    }

    .testimonialCardsWrapper {
        display: grid;
        gap: 28px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .testimonialHeadingWrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .icon {
        height: 50px;
        width: 50px;
    }

    .cardWrapper {
        padding: 32px;
        width: fit-content;
    }
}

@media (max-width: 794px) {
    .serviceSectionCardsWrapper {
        display: grid;
        gap: 28px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (max-width: 590px) {
    .serviceSectionCardsWrapper {
        text-align: center;
        align-items: center;
        gap: 48px;
    }

    .serviceCardImageWrapper {
        height: 354px;
        max-width: 100%;
    }

    .serviceCardText {
        font-size: 20px;
        line-height: 24px;
    }

    .serviceCardBtnWrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .serviceCardBtnWrapperMobile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--white);
        width: fit-content;
        cursor: pointer;
    }

    .serviceCardLink {
        font-size: 18px;
        line-height: 36px;
    }
}
