.blogSectionOverallWrapper {
    width: 100%;
}

.blogSectionWrapper {
    padding: 120px 0px;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

/* Blog top section */
.blogTopSectionWrapper {
    display: flex;
    flex-direction: column;
    gap: 56px;
    width: 100%;
}

.blogTopSectionImageWrapper {
    max-height: 430px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blogTopSectionImage {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 24px;
}

.blogTopSectionBottom {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
}

.blogTopSectionBottomText {
    color: var(--black);
    max-width: 500px;
    font-size: 36px;
    line-height: 150%;
}

.bloglistsCompWrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 500px;
    width: 100%;
    justify-content: space-between;
}

/* Blog bottom section */
.blogBottomSection {
    display: flex;
    flex-direction: column;
    gap: 77px;
    width: 100%;
}

.bottomSectionTextWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 12px;
}

.bottomSectionSubText {
    font-size: 20px;
    line-height: 32px;
    color: var(--primary-gray);
}

.bottomSectionHeadingText {
    color: var(--black);
    max-width: 842px;
}

.blogCardsWrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.sectionButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 84px;
}

/* Blog Card */
.blogCardWrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 24px;
}

.blogCardContentImageWrapper {
    width: 100%;
    height: 209px;
    max-width: 300px;
}

.blogCardContentImage {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 24px;
}

.spanNDateTextWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.blogCardSpanText {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    color: var(--dark-blue);
}

.blogCardDate {
    font-weight: 400;
    color: var(--primary-gray);
}

.blogCardContentText {
    color: var(--black);
    font-size: 20px;
    line-height: 32px;
    height: 99px;
    max-width: 300px;
}

.blogCardProfileWrapper {
    display: flex;
    gap: 12px;
}

.blogCardProfileImage {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.blogCardProfileText {
    font-size: 16px;
    line-height: 28px;
    color: var(--black);
}

/* Blog list */
.blogListWrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--secondary-gray);
    padding-bottom: 16px;
}

.blogListText {
    font-size: 20px;
    line-height: 32px;
}

.blogListIconWrapper {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1260px) {
    .blogCardContentText {
        font-size: 16px;
        line-height: 24px;
    }

    .blogListText {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    .blogTopSectionBottom {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 42px;
    }

    .blogTopSectionBottomText {
        max-width: 700px;
        text-align: center;
        font-size: 30px;
    }
}

@media (max-width: 794px) {
    .blogCardsWrapper {
        display: grid;
        gap: 36px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .blogCardContentText {
        height: fit-content;
    }

    .blogCardWrapper {
        gap: 12px;
    }
}

@media (max-width: 590px) {
    .blogCardsWrapper {
        align-items: center;
        justify-items: center;
        max-width: 100%;
    }

    .blogTopSectionWrapper {
        gap: 36px;
    }

    .blogCardContentImageWrapper {
        width: 100%;
        max-width: 100%;
    }

    .blogBottomSection {
        gap: 32px;
    }

    .sectionButtonWrapper {
        padding-top: 64px;
    }

    .blogTopSectionBottomText {
        font-size: 24px;
        line-height: 32px;
    }

    .blogSectionWrapper {
        gap: 80px;
        padding: 50px 0px;
    }

    .blogTopSectionBottom {
        padding: 0px 10px;
    }
}
